<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-adcolony" version="2.0.0">
    <name>AdColony Plugin</name>
    <description>AdColony plugin for Apache Cordova</description>
    <license>Apache-2.0</license>
    <keywords>cordova, adcolony</keywords>
    <author>Alexey Vasyukov, Ferdi Ladeira</author>
    <js-module src="www/AdColony.js" name="AdColony">
        <clobbers target="window.AdColony" />
    </js-module>

    <engines>
        <engine name="cordova-android"
                version=">=8.0.0"/>
        <engine name="cordova-ios"
                version=">=5.0.0"/>
    </engines>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdColonyPlugin">
                <param name="ios-package" value="AdColonyPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AdColonyPlugin.h"/>
        <source-file src="src/ios/AdColonyPlugin.m"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="AdSupport.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="libz.1.2.5.dylib"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="Social.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="WebKit.framework"/>
		<podspec>
			<config>
				<source url="https://github.com/AdColony/AdColony-iOS-SDK.git" />
				<source url="https://github.com/CocoaPods/Specs.git"/>
			</config>
			<pods use-frameworks="true">
				<pod name="AdColony" />
			</pods>
		</podspec>

    </platform>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
                      android:configChanges="keyboardHidden|orientation|screenSize"
                      android:hardwareAccelerated="true"/>
            <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
                      android:configChanges="keyboardHidden|orientation|screenSize"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdColonyPlugin">
                <param name="android-package" value="com.adcolony.plugin.AdColonyPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <framework src="src/android/adcolony.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/com/adcolony/plugin/AdColonyPlugin.java" target-dir="src/com/adcolony/plugin"/>
        <source-file src="src/android/proguard-adcolony.txt" target-dir="./"/>
    </platform>
</plugin>
